<div class="fio" ><h1><strong>Hello</strong></h1></div>
<div class="io" >
<h4>My name is Soufiane MOUSSAID, i'm software engineer student and the owner of this website.</h4>
</div>
<div class="abtDiv">
  <p>From the first lullaby sung to us as newborn babies, music provides the “soundtrack” of our lives.  So much so that I think many of us take it for granted, just as we do the soundtrack of a film, which we often hear without listening to it.  That is, we enjoy the film without realizing how much the music conditions our reaction.
  Music penetrates almost every part of our lives:  our rest, our entertainment, our education, and our worship.
Throughout history, it has celebrated the triumphs and tragedies of life.  As Plato said, music “gives soul to the universe, wings to the mind, flight to the imagination”.</p>
  <p>Music both shapes and reflects society.  Dancers follow its beat; protesters use it to find their voice.  It can promote ideals like << peace and solidarity >> but it can also prepare armies for battle.  It is part of almost every important personal and collective moment.
 But it is also mysterious.  Rhythm and pitch can be expressed as mathematical formulae; and musicians know the techniques by which they produce a certain sound.  But no scientist or musician can explain the power that music has over our emotions.  That, surely, is what another Greek writer had in mind, who said that song is a divine gift from God.</p>
  <p>In a world of diversity where often values clash, music leaps across language barriers and unites people of quite different cultural backgrounds.  And so, through music, all peoples can come together to make the world a more harmonious place.</p>
  <p>You see, I am getting carried away I’d better stop, <strong>Thank You. </strong></p>
</div>
